<footer class="bg-black text-white py-12">
    <div class="container">
        <nav class="flex justify-between">
            <span class="my-auto"><img src="/icons/dc-logo.png" alt="Dolphin Cove"></span>

            <div>
                <h6 class="text-sm text-gray-300 uppercase mb-1">Informational</h6>

                <ul class="leading-relaxed">
                    <li><a class="hover:underline" href="#!">About Us</a></li>
                    <li><a class="hover:underline" href="#!">Contact Us</a></li>
                    <li><a class="hover:underline" href="#!">News</a></li>
                    <li><a class="hover:underline" href="#!">Support</a></li>
                </ul>
            </div>

            <div>
                <h6 class="text-sm text-gray-300 uppercase mb-1">Other</h6>

                <ul class="leading-relaxed">
                    <li><a class="hover:underline" href="/auth">Admins</a></li>
                    <li><a class="hover:underline" href="#!">Privacy Policy</a></li>
                    <li><a class="hover:underline" href="#!">Terms and conditions</a></li>
                </ul>
            </div>

            <div>
                <h3 class="mb-1">Follow us on social media</h3>
                <ul class="text-3xl flex gap-4">
                    <li><a class="transition hover:opacity-75" href="#!"><i class="bi bi-facebook"></i></a></li>
                    <li><a class="transition hover:opacity-75" href="#!"><i class="bi bi-instagram"></i></a></li>
                    <li><a class="transition hover:opacity-75" href="#!"><i class="bi bi-twitter"></i></a></li>
                    <li><a class="transition hover:opacity-75" href="#!"><i class="bi bi-youtube"></i></a></li>
                </ul>
            </div>
        </nav>

        <hr class="my-6 border-gray-400">

        <p class="text-center">&copy; Copyright 2022. All rights reserved.</p>
    </div>
</footer>