<aside class="py-4 px-6 text-white bg-primary-200 flex flex-col gap-8">
    <a href="/">
        <img src="/icons/dc-logo.png" alt="Dolphin Cove">
    </a>

    <nav class="h-full">

        <span class="text-gray-200 uppercase text-sm mb-1 inline-block">Admin</span>
        <ul class="space-y-0.5 mb-6 whitespace-nowrap">
            <li class="nav-item"><a class="nav-link" href="/bookings">Bookings</a></li>
            <% if (locals.user.role==='admin' ) { %>
                <li class="nav-item"><a class="nav-link" href="/bookings/reservations">Revervations</a></li>
                <li class="nav-item"><a class="nav-link" href="/programs">Programs</a></li>
                <li class="nav-item"><a class="nav-link" href="/tour-companies">Tour Companies</a></li>
                <% } %>
        </ul>

        <span class="text-gray-200 uppercase text-sm mb-1 inline-block">Settings</span>
        <ul class="space-y-0.5">
            <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="/auth/logout">
                    Logout
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                    </svg>
                </a></li>
        </ul>
    </nav>
</aside>