<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>

</head>

<body>
    <%- include('../partials/header') -%>

        <main class="grid place-items-center bg-blue-50 bg-[url('/images/pattern-2.svg')] bg-cover bg-no-repeat">
            <div class="p-8 text-center bg-white rounded-md">
                <h1 class="heading text-4xl mb-6">Page Not Found</h1>

                <p class="mb-8 max-w-prose mx-auto text-gray-600">The page you were looking for does not exist. Try a
                    different URL or
                    start from the
                    homepage.</p>

                <div>
                    <a class="btn" href="/">Back To Home</a>
                </div>
            </div>
        </main>

        <%- include('../partials/footer') -%>
</body>

</html>