<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>

</head>

<body>
    <%- include('../partials/header') -%>

        <main>
            <h1>Page Not Found</h1>

            <p>The page you were looking for does not exist. Try a different URL or start from the homepage.</p>

            <div>
                <a href="/">Back To Home</a>
            </div>
        </main>

        <%- include('../partials/footer') -%>
</body>

</html>