@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.heading {
		@apply font-heading text-5xl mb-8;
	}

	.btn {
		@apply leading-none inline-flex items-center gap-1 py-3 px-6 rounded-md text-white bg-primary-100 transition hover:brightness-95;
	}

	.btn-outline {
		@apply btn ring-2 ring-current ring-inset text-primary-100 bg-transparent hover:bg-gray-100;
	}

	.form-group {
		@apply flex gap-12 justify-between;
	}

	.form-group > .form-control {
		@apply w-full;
	}

	.form-control {
		@apply grid gap-1 mb-6;
	}

	.form-control > label {
		@apply text-gray-500 w-fit;
	}
	.form-control > :is(input, select, textarea) {
		@apply rounded-md bg-gray-100 border-transparent focus:border-primary-100 focus:bg-white focus:ring-0;
	}

	.nav-item {
		@apply w-full;
	}

	.nav-link {
		@apply px-6 py-3 inline-flex gap-1 items-center w-full bg-white bg-opacity-10 transition hover:bg-opacity-20;
	}

	.alert {
		@apply fixed top-0 left-1/2 -translate-x-1/2 inline-flex gap-2 items-center bg-blue-50 text-gray-500 rounded py-3 px-4 shadow animate-[alert_4s_ease-in-out_forwards];
	}
}

html {
	scroll-behavior: smooth;
}

body {
	@apply font-body text-gray-700;
}

main {
	min-height: 100vh;
}
main.dashboard {
	display: flex;
	height: 100vh;
}
main.dashboard > .container {
	overflow-y: auto;
}

.card-description {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

@keyframes alert {
	0% {
		transform: translate(-50%, -110%);
	}

	10% {
		transform: translate(-50%, 1rem);
	}

	90% {
		transform: translate(-50%, 1rem);
	}

	100% {
		transform: translate(-50%, -110%);
	}
}
