<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
</head>

<body>
    <%- include('../partials/alerts') -%>

        <main class="flex">
            <%- include('../partials/sidebar') -%>

                <div class="container py-12">
                    <h1 class="heading text-4xl">Add a new program</h1>

                    <form class="w-1/2" action="/programs/add" method="post" enctype="multipart/form-data">
                        <div class="form-control">
                            <label for="title">Program Title</label>
                            <input type="text" name="title" id="title" required>
                        </div>

                        <div class="form-control">
                            <label for="description">Description</label>
                            <textarea class="resize-none" name="description" id="description" cols="30" rows="5"
                                required></textarea>
                        </div>

                        <div class="form-control">
                            <label for="duration">Duration</label>
                            <input type="text" name="duration" id="duration" required>
                        </div>

                        <div class="form-control">
                            <label for="price">Price</label>
                            <input type="number" name="price" id="price" required>
                        </div>

                        <div class="form-control">
                            <label for="image">Photo</label>
                            <input class="file:m-2" type="file" name="image" id="image" accept="image/*">
                        </div>


                        <button class="btn mt-2" type="submit">Add program</button>
                    </form>

                </div>

        </main>

</body>

</html>